@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url(./img/background-main.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    text-align: center;
    color: rgb(67, 44, 131);
}

.greeting {
    font-size: 45px;
}

.mainlist {
    display: flex;
    column-gap: 50px;
    margin-top: 30px;
    line-height: 150%;
}

a:link {
    text-decoration: none;
}

.link1,
.link2 {
    height: 100px;
    width: 150px;
    border-radius: 40% 25%;
    list-style: none;
    box-shadow: 0 3px 6px #82689c29, 0 3px 6px rgba(144, 183, 152, 0.23);
    display: flex;
    align-items: center;
    justify-content: center;
}

.link1 {
    border-radius: 40% 25%;
    background-image: url(./img/link1.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.link2 {
    border-radius: 25% 40%;
    background-image: url(./img/link2.jpg);
    background-size: 125%;
    background-position: center;
    background-repeat: no-repeat;
}