* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url(./img/background-main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainsite {
    display: flex;
}

.greeting {
    display: flex;
}

.mainlist {
    display: flex;
}