@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #3d3d3d;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

body {
  margin: 0;
  padding: 10px;
}

.container {
  background-image: url(./img/background.png);
  background-size: 880px;
  background-color: #fff;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
}

.appcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 40px;
  position: relative;
  height: 700px;
}

.appcontent__input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.title{
  width: 364px;
  height: 50px;
}

.subtitle,
.subsubtitle{
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  font-size: 16px;
	font-weight: 700;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('https://github.com/valeriasekret/JSF-Projects/blob/main/Shopping-Lists/img/text-background.PNG?raw=true');
  background-size: 10px;
}

.list-select {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  padding: 10px 0;
}

form#listForm {
  display: flex;
  column-gap: 10px;
  padding: 10px 0;
}

form#taskForm {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  padding: 10px 0;
}

#taskInput {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  height: 240px;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#taskApp {
  width: 300px;
  margin: 0 auto;
}

.done {
  text-decoration: line-through;
  color: gray;
}

.taskContainer {
  display: flex;
  justify-content: space-between;
}

.adding__button,
#deleteListButton,
#listNameInput,
#listSelect,
#taskInput {
  border-radius: 70em;
  border: 2px solid transparent;
}

.adding__button,
#deleteListButton {
  width: 80px;
  height: 30px;
  background: #acd6ed;
  background: linear-gradient(0deg, rgb(176, 237, 229) 0%, rgb(193, 232, 249) 100%);
}

.adding__button:hover,
#deleteListButton:hover {
  background: linear-gradient(rgb(201, 236, 250), rgb(201, 236, 250)) padding-box,
    linear-gradient(to right, rgb(85, 167, 214), rgb(106, 230, 209)) border-box;
}

#listNameInput,
#listSelect,
#taskInput {
  width: 140px;
  height: 30px;
  text-align: center;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, rgb(85, 167, 214), rgb(106, 230, 209)) border-box;
}

.deleteButton {
  margin-left: 10px;
  margin-top: 5px;
  width: 40px;
  height: 30px;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, rgb(85, 167, 214), rgb(106, 230, 209)) border-box;
  border-radius: 70em;
  border: 2px solid transparent;
}

.deleteButton:hover {
  background: #acd6ed;
  background: linear-gradient(0deg, rgb(176, 237, 229) 0%, rgb(193, 232, 249) 100%);
}